{% extends "base.html" %}

{% block content %}

<h1>Sherpa Fact Proxy API Call</h1>

<form>
<input type="text" id="journal_or_issn" name="journal_or_issn" style="width: 300px;" placeholder="Journal name or ISSN"><br>
<select id="funder" name="funder" multiple size="13" style="width: 450px">
    <option value="14">Arthritis Research UK</option>
    <option value="698">Arts and Humanities Research Council (AHRC)</option>
    <option value="709">Biotechnology and Biological Sciences Research Council (BBSRC)</option>
    <option value="873">Breast Cancer Campaign</option>
    <option value="18">British Heart Foundation</option>
    <option value="19">Cancer Research UK</option>
    <option value="717">Economic and Social Research Council (ESRC)</option>
    <option value="722">Engineering and Physical Sciences Research Council (EPSRC)</option>
    <option value="925">Leukaemia & Lymphoma Research</option>
    <option value="705">Medical Research Council (MRC)</option>
    <option value="726">Natural Environment Research Council (NERC)</option>
    <option value="716">Science and Technology Facilities Council (STFC)</option>
    <option value="695">Wellcome Trust</option>
</select><br>
<button id="sherpafact_proxy">Get Info</button><br><br>


<div id="fact_results"></div>

</form>


<br><br><br>

{% endblock %}


{% block extra_js_bottom %}
<style>
pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
</style>

<script type="text/javascript">

    jQuery(document).ready(function($) {

        function syntaxHighlight(json) {
            if (typeof json != 'string') {
                 json = JSON.stringify(json, undefined, 2);
            }
            json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
            return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
                var cls = 'number';
                if (/^"/.test(match)) {
                    if (/:$/.test(match)) {
                        cls = 'key';
                    } else {
                        cls = 'string';
                    }
                } else if (/true|false/.test(match)) {
                    cls = 'boolean';
                } else if (/null/.test(match)) {
                    cls = 'null';
                }
                return '<span class="' + cls + '">' + match + '</span>';
            });
        }

        function success(resp) {
            var frag = syntaxHighlight(resp)
            $("#fact_results").html("<pre>" + frag + "</pre>")
        }

        $("#sherpafact_proxy").click(function() {
            event.preventDefault();

            var journal_or_issn = $("#journal_or_issn").val()
            var funders = $('#funder').val();

            $("#fact_results").html("querying FACT ...")

            octopus.sherpafact.proxy({
                journal_or_issn: journal_or_issn,
                funders: funders,
                success: success
            });
        });
    });

</script>

{% endblock%}