{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <h1>Log in to your account</h1>
    </div>
</div>

<form method="post" action="{{url_for('account.login')}}">
    <div class="row">
        <div class="col-md-offset-4 col-md-4 form-horizontal wide">
            {% autoescape off %}
            {{ form_context.render_field_group("login") }}
            {% endautoescape %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <button class="btn btn-primary" id="login" type="submit" style="width: 100%; font-size: 30px; line-height: 30px">
                Log me in!
            </button>
            <br><br><p><a href="{{url_for('account.forgot')}}">I forgot my username/password</a></p>
            {% if config.get("ACCOUNT_ALLOW_REGISTER", False) %}
            <p><a href="{{url_for('account.register')}}">Don't have an account?</a></p>
            {% endif %}
        </div>
    </div>
</form>

{% endblock %}

