{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <h1>Reset your password</h1>
    </div>
</div>

<form method="post" action="{{url_for('account.reset', reset_token=account.reset_token)}}">
    <div class="row">
        <div class="col-md-offset-4 col-md-4 form-horizontal wide">
            {% autoescape off %}
            {{ form_context.render_field_group("reset") }}
            {% endautoescape %}

            <button class="btn btn-primary" id="reset" type="submit" style="width: 100%; font-size: 30px; line-height: 30px">
                Reset it!
            </button>
        </div>
    </div>

</form>

{% endblock %}

