{% extends "base.html" %}

{% block extra_css_top %}

    <!-- edges styles -->
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/edges/css/bs3.Facetview.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/edges/css/bs3.FullSearchControllerRenderer.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/edges/css/bs3.PagerRenderer.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/edges/css/bs3.SearchingNotificationRenderer.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='css/account/userlist.css')}}">

{% endblock %}

{% block content %}

{% if current_user.has_role(config.get("ACCOUNT_CREATE_USER_ROLE")) %}
<div class="row">
    <div class="col-md-12" style="text-align: right">
        {# FIXME: need to set the URL correctly when account.register is enabled #}
        <a class="btn btn-info" href="{{url_for('account.register')}}"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;Create New User</a>
    </div>
</div>
{% endif %}

<h1>Manage Users</h1>

<div id="userfacetview"></div>

{% endblock %}

{% block extra_js_bottom %}

    <script type="text/javascript" src="{{url_for('static', filename='vendor/edges/src/es5x.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='vendor/edges/src/edges.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='vendor/edges/src/edges.jquery.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='vendor/edges/src/components/search.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='vendor/edges/src/templates/bs3.Facetview.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='vendor/edges/src/renderers/bs3.FullSearchControllerRenderer.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='vendor/edges/src/renderers/bs3.PagerRenderer.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='vendor/edges/src/renderers/bs3.SearchingNotificationRenderer.js')}}"></script>


    <script type="text/javascript" src="{{ url_for('static', filename='js/account/userlist.js') }}"></script>

{% endblock extra_js_bottom %}
