{% macro main_nav(navigation, wrap=True, top_classes="", sub_classes="") %}

    {% if wrap %}
    <nav role="navigation" >
    {% endif %}

    {% set attrs = {"hasnav" : False } %}
    {% for ni in navigation %}
        {%  if ni.get("main_nav", False) %}
            {% do attrs.update({"hasnav" : True}) %}
        {% endif %}
    {% endfor %}

    {# this prevents us from rendering unnecessary navigation #}
    {% if attrs["hasnav"] %}
        <ul class="{{ top_classes }}">
            {% for ni in navigation %}
                {%  if ni.get("main_nav", False) %}
                    {{ _nav_item(ni, sub_classes=sub_classes) }}
                {%  endif %}
            {%  endfor %}
        </ul>
    {% endif %}

    {% if wrap %}
    </nav>
    {% endif %}

{% endmacro %}

{%  macro _nav_item(ni, sub_classes="") %}
    {% set current_url = request.path|urlencode %}

    {#  lets work out if this item is visible #}

    {# first by gathering together all the information we need:
        authd - is the user authenticated
        vauth - is the item visible to someone authenticated
        vanon - is the item visible to someone who is anonymous
        vrole - is the item visible to someone with a specific, named, role
        role["has_role"] - does the user have the required role
     #}
    {% set authd = current_user.is_authenticated() %}
    {% set vauth = ni.get("visibility", {}).get("auth", True) %}
    {% set vanon = ni.get("visibility", {}).get("anonymous", True) %}
    {% set vrole = ni.get("visibility", {}).get("role", [])|length > 0 %}

    {% set role = {"has_role" : False} %}
    {% for r in ni.get("visibility", {}).get("role", []) %}
        {% if current_user.has_role and current_user.has_role(r) %}
            {% do role.update({"has_role" : True}) %}
        {% endif %}
    {% endfor %}

    {# The navigation item is visible under the following decision tree

     User is Authd -- y --> Visible for Authd -- y --> Visible only for named role -- y --> User has role -- y --> Visible
                                             |                                   |                        -- n --> Hidden
                                             |                                    --- n --> Visible
                                              -- n --> Hidden
                   -- n --> Visible for Anonymous -- y --> Visible
                                                  -- n --> Hidden

    This means that the item is visible on the following conditions

    - The user is not authd, AND the item is visible for Anonymous
    OR
    - The user is authd AND the item is visible for Authd AND
        - Visible ony for named role AND user has role
        OR
        - Visible for any role

     #}
    {% set visible = (not authd and vanon) or (
        (authd and vauth) and (
            (vrole and role["has_role"]) or (not vrole)
            )
        )
    %}

    {# only render this nav item (and its children) if it is visible #}
    {% if visible %}
        {# these are the various function-level properties we'll read and write #}
        {% set attrs = {"active" : False, "parent" : False, "url" : "", "classes" : ""} %}

        {# work out the url #}
        {% set args = {} %}
        {% if ni.get("url", {}).get("kwargs") %}
            {% do args.update(ni.get("url", {}).get("kwargs")) %}
        {% endif %}
        {% for cuk in ni.get("url", {}).get("current_user_kwargs", []) %}
            {% do args.update({cuk.get("arg_name") : current_user[cuk.get("property")]}) %}
        {% endfor %}

        {% if ni.get("url", {}).get("url_for") %}
            {% do attrs.update({"url" : url_for(ni.get("url", {}).get("url_for"), **args)}) %}
        {% endif %}

        {% if ni.get("url", {}).get("url") %}
            {% do attrs.update(ni.get("url", {}.get("url"))) %}
        {% endif %}

        {# now determine if the nav item is active #}

        {# first we can determine if this is active by looking to see if we're on the current url #}
        {% if attrs["url"] != "" and current_url == attrs["url"] %}
            {% do attrs.update({"active" : True}) %}
        {% endif %}

        {# If that fails, check the other url routes for which this page may be active/deactivated #}
        {% if not attrs["active"] %}
            {% for match in ni.get("match", []) %}
                {% set args = {} %}
                {% if match.get("kwargs") %}
                    {% do args.update(match.get("kwargs")) %}
                {% endif %}
                {% for cuk in match.get("current_user_kwargs", []) %}
                    {% do args.update({cuk.get("arg_name") : current_user[cuk.get("property")]}) %}
                {% endfor %}

                {% if match.get("type", "exact") == "exact" %}
                    {% if current_url == url_for(match.get("url_for"), **args) %}
                        {% if match.get("action", "activate") == "activate" %}
                            {% do attrs.update({"active" : True, "parent" : True}) %}
                        {% elif match.get("action") == "deactivate" %}
                            {% do attrs.update({"active" : False, "parent" : False}) %}
                        {% endif %}
                    {% endif %}
                {% elif match.get("type") == "startswith" %}
                    {% if current_url.startswith(url_for(match.get("url_for"), **args)) %}
                        {% if match.get("action", "activate") == "activate" %}
                            {% do attrs.update({"active" : True, "parent" : True}) %}
                        {% elif match.get("action") == "deactivate" %}
                            {% do attrs.update({"active" : False, "parent" : False}) %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {# work out the classes to attach to this element #}
        {% if attrs["active"] and not attrs["parent"] %}
            {% do attrs.update({"classes" : "active"}) %}
        {% elif attrs["parent"] %}
            {% do attrs.update({"classes" : "parent"}) %}
        {% endif %}

        {# work out if we're going to draw the subnav at this point, with the following decision tree

         has subnav -- y --> always draw -- y --> Draw
                   |                     -- n -- > Is nav item active -- y --> Draw
                   |                                                  -- n --> Hide
                    -- n --> Hide

         #}
        {% set has_sub = ni.get("subnav", [])|length > 0 %}
        {% set always = ni.get("always_show_subnav", True) %}
        {% set draw_sub = has_sub and (always or (not always and attrs["active"])) %}

        {#  render the nav item, with the relevant class and linking #}
        <li class="{{ attrs["classes"] }}">
            {% if (attrs["active"] and ni.get("link_on_active", True)) or not attrs["active"] %}
                <a href="{{ attrs["url"] }}">{% autoescape off %}{{ ni.get("label") }}{% endautoescape %}</a>
            {% else %}
                <span>{% autoescape off %}{{ ni.get("label") }}{% endautoescape %}</span>
            {% endif %}
            {% if draw_sub %}
                {{ main_nav(ni.get("subnav", []), wrap=False, top_classes=sub_classes) }}
            {% endif %}
        </li>

    {% endif %}

{%  endmacro %}


{% macro breadcrumb(navigation) %}

<ol class="breadcrumb" >
    {{ _breadcrumb_item(navigation) }}
</ol>

{% endmacro %}

{% macro _breadcrumb_item(navigation) %}
    {% set current_url = request.path|urlencode %}

    {% for ni in navigation %}
        {%  if ni.get("breadcrumb", False) %}
            {% set attrs = {"active" : False} %}

            {#  % set attrs = {"class" : "", "url" : ""} %} #}

            {# work out the url #}
            {% set args = {} %}
            {% if ni.get("url", {}).get("kwargs") %}
                {% do args.update(ni.get("url", {}).get("kwargs")) %}
            {% endif %}
            {% for cuk in ni.get("url", {}).get("current_user_kwargs", []) %}
                {% do args.update({cuk.get("arg_name") : current_user[cuk.get("property")]}) %}
            {% endfor %}

            {% if ni.get("url", {}).get("url_for") %}
                {% do attrs.update({"url" : url_for(ni.get("url", {}).get("url_for"), **args)}) %}
            {% endif %}

            {# now determine if the nav item is active #}

            {# first we can determine if this is active by looking to see if we're on the current url #}
            {% if attrs["url"] != "" and current_url == attrs["url"] %}
                {% do attrs.update({"active" : True}) %}
            {% endif %}

            {% if not attrs["active"] %}
                {% for match in ni.get("match", []) %}
                    {% set args = {} %}
                    {% if match.get("kwargs") %}
                        {% do args.update(match.get("kwargs")) %}
                    {% endif %}
                    {% for cuk in match.get("current_user_kwargs", []) %}
                        {% do args.update({cuk.get("arg_name") : current_user[cuk.get("property")]}) %}
                    {% endfor %}

                    {% if match.get("type", "exact") == "exact" %}
                        {% if current_url == url_for(match.get("url_for"), **args) %}
                            {% if match.get("action", "activate") == "activate" %}
                                {% do attrs.update({"active" : True}) %}
                            {% elif match.get("action") == "deactivate" %}
                                {% do attrs.update({"active" : False, "parent" : False}) %}
                            {% endif %}
                        {% endif %}
                    {% elif match.get("type") == "startswith" %}
                        {% if current_url.startswith(url_for(match.get("url_for"), **args)) %}
                            {% if match.get("action", "activate") == "activate" %}
                                {% do attrs.update({"active" : True}) %}
                            {% elif match.get("action") == "deactivate" %}
                                {% do attrs.update({"active" : False}) %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}

            {# work out the classes to attach to this element #}
            {% if attrs["active"] %}
                <li>
                {% if ni.get("link_on_active", True) %}
                    {% set url = url_for(ni.get("url", {}).get("url_for"), **args) %}
                    <a href="{{ url }}">{% autoescape off %}{{ ni.get("label") }}{%  endautoescape %}</a>
                {% else %}
                    {% autoescape off %}{{ ni.get("label") }}{%  endautoescape %}
                {% endif %}
                </li>
                {{ _breadcrumb_item(ni.get("subnav", [])) }}
            {% endif %}

        {%  endif %}
    {%  endfor %}

{% endmacro %}