{% macro main_nav(navigation) %}

<nav role="navigation" >
    <ul>
        {% for ni in navigation %}
            {%  if ni.get("main_nav", False) %}
                {{ _nav_item(ni) }}
            {%  endif %}
        {%  endfor %}
        <!-- <li class="parent"><span>Elem with subs</span><ul>
            <li><a href="#">Sub elem</a></li>
            <li class="active" ><a href="#">Sub elem</a></li>
            <li><a href="#">Sub elem</a></li>
        </ul></li>
        <li class="parent" ><a href="#">Elem with subs</a></li> -->
    </ul>
</nav>

{% endmacro %}

{%  macro _nav_item(ni) %}
    {% set current_url = request.path|urlencode %}

    {#  lets work out if this item is visible #}
    {% set authd = current_user.is_authenticated() %}
    {% set anon = current_user.is_anonymous() %}

    {% set vauth = ni.get("visibility", {}).get("auth", True) %}
    {% set vanon = ni.get("visibility", {}).get("anonymous", True) %}

    {# only render this nav item (and its children) if it is visible #}
    {% if (vauth and authd) or (vanon and anon) %}
        {# these are the various function-level properties we'll read and write #}
        {% set attrs = {"class" : "", "url" : ""} %}

        {# work out the url #}
        {% set args = {} %}
        {% if ni.get("url", {}).get("kwargs") %}
            {% do args.update(ni.get("url", {}).get("kwargs")) %}
        {% endif %}
        {% for cuk in ni.get("url", {}).get("current_user_kwargs", []) %}
            {% do args.update({cuk.get("arg_name") : current_user[cuk.get("property")]}) %}
        {% endfor %}

        {% if ni.get("url", {}).get("url_for") %}
            {% do attrs.update({"url" : url_for(ni.get("url", {}).get("url_for"), **args)}) %}
        {% endif %}

        {# now determine if the nav item is active #}

        {# first we can determine if this is active by looking to see if we're on the current url #}
        {% if attrs["url"] != "" and current_url == attrs["url"] %}
            {% do attrs.update({"class" : "active"}) %}
        {% endif %}

        {# If that fails, check the other url routes for which this page may be active #}
        {% if attrs["class"] != "active" %}
            {% for active in ni.get("active", []) %}
                {% set args = {} %}
                {% if active.get("kwargs") %}
                    {% do args.update(active.get("kwargs")) %}
                {% endif %}
                {% for cuk in active.get("current_user_kwargs", []) %}
                    {% do args.update({cuk.get("arg_name") : current_user[cuk.get("property")]}) %}
                {% endfor %}

                {% if active.get("match", "exact") == "exact" %}
                    {% if current_url == url_for(active.get("url_for"), **args) %}
                        {% do attrs.update({"class" : "active"}) %}
                    {% endif %}
                {% elif active.get("match") == "startswith" %}
                    {% if current_url.startswith(url_for(active.get("url_for"), **args)) %}
                        {% do attrs.update({"class" : "active"}) %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {#  render the nav item, with the relevant class and linking #}
        <li class="{{ attrs["class"] }}">
            {% if (attrs["class"] == "active" and ni.get("link_on_active", True)) or attrs["class"] != "active" %}
                <a href="{{ attrs["url"] }}">{{ ni.get("label") }}</a>
            {% else %}
                <span>{{ ni.get("label") }}</span>
            {% endif %}
        </li>

    {% endif %}

{%  endmacro %}


{% macro breadcrumb(navigation) %}

<ol class="breadcrumb" >
    {{ _breadcrumb_item(navigation) }}
</ol>

{% endmacro %}

{% macro _breadcrumb_item(navigation) %}
    {% set current_url = request.path|urlencode %}

    {% for ni in navigation %}
        {%  if ni.get("breadcrumb", False) %}
            {% set attrs = {"class" : "", "url" : ""} %}

            {# work out the url #}
            {% set args = {} %}
            {% if ni.get("url", {}).get("kwargs") %}
                {% do args.update(ni.get("url", {}).get("kwargs")) %}
            {% endif %}
            {% for cuk in ni.get("url", {}).get("current_user_kwargs", []) %}
                {% do args.update({cuk.get("arg_name") : current_user[cuk.get("property")]}) %}
            {% endfor %}

            {% if ni.get("url", {}).get("url_for") %}
                {% do attrs.update({"url" : url_for(ni.get("url", {}).get("url_for"), **args)}) %}
            {% endif %}

            {# now determine if the nav item is active #}

            {# first we can determine if this is active by looking to see if we're on the current url #}
            {% if attrs["url"] != "" and current_url == attrs["url"] %}
                {% do attrs.update({"class" : "active"}) %}
            {% endif %}

            {# If that fails, check the other url routes for which this page may be active #}
            {% if attrs["class"] != "active" %}
                {% for active in ni.get("active", []) %}
                    {% set args = {} %}
                    {% if active.get("kwargs") %}
                        {% do args.update(active.get("kwargs")) %}
                    {% endif %}
                    {% for cuk in active.get("current_user_kwargs", []) %}
                        {% do args.update({cuk.get("arg_name") : current_user[cuk.get("property")]}) %}
                    {% endfor %}

                    {% if active.get("match") == "exact" %}
                        {% if current_url == url_for(active.get("url_for"), **args) %}
                            {% do attrs.update({"class" : "active"}) %}
                        {% endif %}
                    {% elif active.get("match") == "startswith" %}
                        {% if current_url.startswith(url_for(active.get("url_for"), **args)) %}
                            {% do attrs.update({"class" : "active"}) %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if attrs["class"] == "active" %}
                <li>
                {% if ni.get("link_on_active", True) %}
                    {% set url = url_for(ni.get("url", {}).get("url_for"), **args) %}
                    <a href="{{ url }}">{{ ni.get("label") }}</a>
                {% else %}
                    {{ ni.get("label") }}
                {% endif %}
                </li>
                {{ _breadcrumb_item(ni.get("subnav", [])) }}
            {% endif %}

        {%  endif %}
    {%  endfor %}

{% endmacro %}